* {
  font-size: 16px; }

html {
  height: 100%; }

body {
  margin: 0 auto;
  font-size: 1em;
  background-color: #ffbf31;
  height: 100%; }
  body p {
    font-family: "Roboto", sans-serif; }
  body section .rayo, body section .logof, body section .telef, body section .redes {
    margin: 0 auto;
    text-align: center; }
  body section .sonrisa {
    margin: 2em auto;
    text-align: center; }
  body section h2, body section h3, body section h4, body section h5 {
    font-size: 2em;
    font-family: "DM Serif Display", serif; }
  body footer .logof, body footer .telef, body footer .redes {
    margin: 1.5em auto; }

.hojah {
  width: 100%;
  height: 7em;
  text-align: right;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: -5em;
  margin-top: -1em;
  z-index: 1040; }

header {
  width: 100%;
  height: 100%;
  max-height: 9em; }
  header nav {
    width: 100%;
    margin: 0 auto;
    background-color: #ffbf31; }
    header nav .fixed-top {
      padding: 0 16px;
      height: 110px;
      z-index: 1030; }
    header nav .logo {
      padding-top: 0.6em;
      margin-left: 20%;
      margin-top: -2em;
      max-height: 2em; }
      header nav .logo img {
        width: 90%; }
    header nav .der {
      margin: 0 auto;
      text-align: center; }
      header nav .der ul {
        margin: 0 auto;
        padding: 0; }
        header nav .der ul li {
          border-left: solid 2px #FFF;
          text-align: center; }
        header nav .der ul li:first-child {
          border: 0px; }
          header nav .der ul li:first-child a {
            margin-left: 0.5em;
            font-family: "Roboto", sans-serif;
            margin: auto 30px;
            text-align: center; }

.marca {
  width: 50%;
  margin-top: 4em;
  margin-bottom: 2em;
  padding-left: 15%;
  text-align: right; }
  .marca p {
    color: #000;
    text-align: left;
    line-height: 1em;
    font-family: "Roboto", sans-serif;
    font-weight: 300i;
    font-size: 3.5em; }
  .marca h1 {
    color: #000;
    font-size: 4em;
    text-align: left;
    line-height: 1em;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    background: none; }
    .marca h1 span {
      display: block;
      font-size: 1em; }

.dibujo {
  width: 90%;
  margin-left: -3em;
  text-align: left; }
  .dibujo img {
    text-align: center; }

body section {
  width: 100%; }
  body section .why, body section .quienes, body section .servicios {
    width: 90%;
    max-width: 1000px;
    margin: 4em auto; }
    body section .why p h1, body section .quienes p h1, body section .servicios p h1 {
      text-decoration: none;
      font-size: 1em;
      display: none; }
  body section .servicios h3 {
    margin-left: -0.7em; }
  body section .servicios ul {
    display: inline-block;
    margin-top: 2em;
    padding: 0;
    text-align: left; }
    body section .servicios ul li {
      margin: 0;
      padding: 0;
      text-align: left; }
  body section .contacto {
    margin-top: 2em; }
    body section .contacto .texto {
      margin-top: 3em; }
    body section .contacto form {
      margin: 2em auto; }
    body section .contacto .marcomensaje textarea {
      min-height: 6em; }
    body section .contacto .center {
      border: 2px #000 solid;
      border-radius: 10px;
      margin: 1.5em auto;
      text-align: center; }
      body section .contacto .center button {
        background: none; }
  body section .confian h5 {
    font-size: 2em;
    margin: 0 auto; }
  body section .confian .centrado {
    text-align: center;
    margin: 2em auto; }

footer {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 9em;
  margin: 0 auto;
  text-align: center; }
  footer .logof {
    width: 99%; }
    footer .logof img {
      width: 8em;
      height: auto; }
  footer .telef .fab {
    font-size: 1.2em; }
  footer .telef a {
    color: #000;
    font-size: 1.5em; }
    footer .telef a i {
      color: #FFF;
      font-size: 2em; }
  footer .redes a {
    margin-right: 2em; }
  footer .redes i {
    color: #FFF;
    font-size: 2.5em;
    margin: 0 auto; }

.hoja {
  width: 100%;
  display: block;
  height: 9em;
  text-align: left;
  margin-left: -6em;
  margin-bottom: -30em;
  margin-right: 0;
  margin-top: 0;
  z-index: -10; }

@media (max-width: 768px) {
  .hoja, .hojah {
    display: none; }

  .rayo {
    margin: -2em auto; }

  .imgr {
    width: 75%;
    height: auto;
    margin: -3em auto 2em auto; }
    .imgr img {
      width: 90%; }

  h2, h4, h5, h6 {
    text-align: center;
    margin: 0 auto 1em auto; }

  p {
    text-align: justify; } }
@media (max-width: 576px) {
  .esp {
    margin-bottom: 1.5em; }

  .dibujo {
    width: 90%;
    margin: 2em auto; }
    .dibujo img {
      max-width: 100%;
      text-align: center; }

  .servicios h3 {
    margin-left: 0em; } }

/*# sourceMappingURL=estilos.css.map */
